@use "../sass/abstrats/varibels" as *;
@use "../sass/abstrats/mixins" as *;
@use "../sass/base/base";
@use "../sass/layout/header";
@use "../sass/sections/why-digitx";
@use "../sass/sections/services";
@use "../sass/sections/works";
@use "../sass/sections/questions";
@use "../sass/sections/clients";
@use "../sass/sections/cta";
@use "../sass/layout/footer";
