@use "../mixins/media-mixsins" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Sora", sans-serif;
  background-color: #0f0f0f;
}

.container {
  max-width: 1598px;
  margin: 0 auto;

  border: 1px solid red;
  background: rgb(21, 21, 86);

  @include laptop() {
    max-width: 1280px;
    background: red;
  }

  @include mobile() {
    max-width: 768px;
    padding: 16px;
    background: green;
  }
}

button {
  border: none;
  outline: none;
}
