@use "../mixins/media-mixsins" as *;
@use "../abstrats/mixins" as *;

.clients {
  margin-bottom: 150px;

  .clients-wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;

    .clients-title {
      h2 {
        @include section-title;
      }

      p {
        @include section-desc;
      }
    }

    .clients-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      justify-items: center;

      .clients-card {
        width: 100%;
        background: linear-gradient(
            180deg,
            rgba(32, 32, 32, 0.2) 0%,
            rgba(32, 32, 32, 0) 100%
          ),
          url("../../assets/images/img/section-bg.png") no-repeat top;
        border-radius: 20px;
        border: 1px solid #292929;
        backdrop-filter: blur(12px);
        padding: 100px 50px 80px 50px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: center;
        text-align: center;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.05);
          cursor: pointer;
        }

        &__img {
          max-width: 356px;
          width: 100%;
          margin: 0 auto;

          img {
            width: 100%;
            height: auto;
          }
        }

        &__info {
          display: flex;
          flex-direction: column;
          gap: 20px;

          h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
            text-align: center;
            color: #ffffff;
          }

          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #8c8c8c;
          }
        }
      }
    }
  }
}
@include laptop() {
    .clients {
      .clients-wrapper {
        .clients-cards {
         grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  @include mobile() {
    .clients {
      .clients-wrapper {
        .clients-cards {
         grid-template-columns: 1fr;
        }
      }
    }
  }
