@use "../abstrats/mixins" as *;
@use "../mixins/media-mixsins" as *;

footer {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
    max-width: 1598px;
    margin: 0 auto;
    padding: 0 24px;

    .footer-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;
      border-bottom: 1px solid #1f1f1f;

      &__social {
        display: flex;
        gap: 20px;
        align-items: center;

        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: #fff;
        }

        .top-social-img {
          display: flex;
          gap: 14px;
          align-items: center;

          img {
            transition: all 0.3s ease;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    .footer-center {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 50px;
      padding: 60px 0;

      .footer-column {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h3 {
          font-weight: 600;
          font-size: 18px;
          line-height: 150%;
          color: #ffffff;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 12px;

          li {
            list-style: none;

            a {
              font-weight: 400;
              font-size: 18px;
              color: #808080;
              cursor: pointer;
              transition: 0.3s ease;

              &:hover {
                color: #fff;
                padding-left: 4px;
              }
            }
          }
        }
      }
    }

    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      border-top: 1px solid #1f1f1f;

      p {
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        color: #666666;
        transition: 0.3s ease;

        &:hover {
          color: #fff;
          cursor: pointer;
        }
      }

      &__right {
        display: flex;
        gap: 20px;
      }
    }
  }

  @include laptop() {
    .footer-wrapper {
      .footer-center {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
      }
    }
  }

  @include mobile() {
    .footer-wrapper {
      .footer-top {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }

      .footer-center {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .footer-column h3 {
          font-size: 16px;
        }
        .footer-column ul li a {
          font-size: 16px;
        }
      }

      .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 15px;

        &__right {
          text-align: center;
          gap: 10px;
        }
      }
    }
  }

  @include mobile() {
    .footer-center {
      grid-template-columns: 1fr;
    }
  }
}
