@use "../abstrats/mixins" as *;
@use "../mixins/media-mixsins" as *;

header {
  margin-bottom: 150px;
  background-color: #0f0f0f;
  backdrop-filter: blur(12px);
  background-image: linear-gradient(
      360deg,
      rgba(15, 15, 15, 0) 0%,
      #0f0f0f 100%
    ),
    url(../../assets/images/img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;

  .header__wrapper {
    padding: 21px 0;
    margin-bottom: 88px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav__logo img {
        width: 100%;
      }

      .nav__links {
        display: flex;
        gap: 24px;

        &--item a {
          font-size: 14px;
          color: #fff;
          transition: 0.3s;

          &:hover {
            padding: 12px 16px;
            border-radius: 84px;
            background: #1a1a1a;
            border: 1px solid #1f1f1f;
          }
        }
      }
    }

    .nav-menu {
      display: none;
    }
  }
}

main {
  .main__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;

    &--info {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1,
      span {
        font-weight: 600;
        font-size: 48px;
        line-height: 130%;
        color: #ffffff;

        span {
          color: #666666;
        }
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #808080;
      }

      .main__wrapper--btn {
        display: flex;
        gap: 8px;

        button {
          @include button;
        }
      }
    }
  }

  .main__wrapper--img {
    img {
      width: 720px;
      height: auto;
    }
  }
}

@include laptop() {
  .main__wrapper {
    flex-direction: column-reverse;
    text-align: center;
    gap: 30px;

    &--info {
      h1,
      span {
        font-size: 36px;
      }
    }

    &--img img {
      width: 500px;
    }
    .main__wrapper--btn {
      justify-content: center;
    }
  }
}

// Mobile
@include mobile() {
  header {
    .header__wrapper {
      nav {
        flex-direction: row;
        justify-content: space-between;

        .nav__links {
          display: none !important;
        }

        .nav-menu {
          display: block;
        }
      }
    }

    .main__wrapper {
      flex-direction: column-reverse;
      text-align: center;
      gap: 25px;
      padding: 0 16px;

      &--info {
        h1,
        span {
          font-size: 28px;
        }
        p {
          font-size: 14px;
        }
        .main__wrapper--btn {
          flex-direction: column;
          gap: 10px;
          button {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
          }
        }
      }

      &--img img {
        width: 100%;
        max-width: 350px;
      }
    }
  }
}
